body {
    background-color: #4B5563; /* bg-gray-600 */
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container {
    background-color: white;
    padding: 32px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 16px;
}
.logo img {
    height: 50px;
    width: 50px;
}
h2 {
    text-align: left;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 24px;
}
label {
    display: block;
    color: #4A5568; /* text-gray-700 */
    margin-bottom: 8px;
    display: none;
}
.input-container {
    position: relative;
    margin-bottom: 16px;
}
input {
    width: 100%;
    padding: 15px 10px;
    border: 1px solid #E53E3E; /* border-red-500 */
    border-radius: 4px;
    outline: none;
    transition: border-color 0.2s;
}
input:focus {
    box-shadow: 0 0 0 2px rgba(239, 68, 68, 0.5);
}
.error-message {
    color: #E53E3E; /* text-red-500 */
    font-size: 12px;
    margin-top: 4px;
    display: none; /* hidden by default */
}
.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    display: none; /* hidden by default */
}
.valid {
    border-color: #48BB78; /* border-green-500 */
}
.invalid {
    border-color: #E53E3E; /* border-red-500 */
}
.forgot-password {
    text-align: left;
    margin-bottom: 16px;
}
.forgot-password a {
    color: #3182CE; /* text-blue-500 */
    font-size: 16px;
}
button {
    width: 100%;
    background-color: #4299E1; /* bg-blue-500 */
    color: white;
    padding: 12px;
    border-radius: 9999px; /* rounded-full */
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    font-size: 16px;
    opacity: 0.5; /* initially disabled */
    pointer-events: none; /* initially disabled */
}
button.enabled {
    opacity: 1; /* enabled */
    pointer-events: auto; /* enabled */
}
.signup {
    text-align: left;
    margin-top: 16px;
}
.signup a {
    color: #3182CE; /* text-blue-500 */
}
.signup p{
    font-size: 20px;
}
.icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px; /* Tamanho do ícone */
    display: none; /* Oculto por padrão */
}

.valid {
    border-color: #48BB78; /* Cor da borda verde */
}

.invalid {
    border-color: #E53E3E; /* Cor da borda vermelha */
}

.valid .icon {
    display: block; /* Mostrar ícone de sucesso */
    color: #48BB78; /* Cor do ícone de sucesso */
}

.invalid .icon {
    display: block; /* Mostrar ícone de erro */
    color: #E53E3E; /* Cor do ícone de erro */
}