body {
    background-color: white;
    color: rgb(15, 20, 25);
    font-family: Arial, sans-serif;
}

.profile-header img {
    padding: 10px;
    border-radius: 50%;
    height: 64px;
    width: 64px;

}

.botton {
    border-radius: 20%;
    border: none;

}

nav ul li a {
    color: rgb(15, 20, 25);
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav p a {
    color: rgb(83, 100, 113);
    text-decoration: none;
}

nav ul {
    list-style-type: none;
}

nav>ul>li a:hover {
    background-color: rgba(15, 25, 20, 0.1);
}

.location-date {
    display: flex;
    list-style-type: none;

}

.location-date li:hover {
    text-decoration: underline;
}

.stats {
    display: flex;
    list-style-type: none;
}

.stats li {
    margin-right: 20px;
}

.stats span {
    color: rgb(15, 20, 25);
    font-weight: bold;
}

.stats a {
    color: rgb(83, 100, 113);
    text-decoration: none;
}

.stats a:hover {
    text-decoration: underline;
}

.actions {
    color: rgb(83, 100, 113);
    background-color: transparent;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    display: flex;
    list-style-type: none;
}

.actions li a {
    color: rgb(83, 100, 113);
    text-decoration: none;
    margin-right: 20px;
}

.actions a:hover {
    color: rgba(29, 155, 240, 1);
}

.actions a.reply:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

.actions a.retzeet:hover {
    background-color: rgba(0, 186, 124, 0.1);
    color: rgba(0, 186, 124, 1);
}

.actions a.like:hover {
    background-color: rgba(249, 24, 128, 0.1);
    color: rgba(249, 24, 128, 1);
}

h4 {
    color: rgb(15, 20, 25);
}

h5 {
    color: rgb(83, 100, 113);
}

p.biography {
    color: rgb(15, 20, 25);
}

ul.location-date li {
    color: rgb(83, 100, 113);
}

.posts article {
    padding: 10px;
}

.data {
    color: rgb(83, 100, 113);


}

.posts article:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.posts article p:first-child,
.posts article p:first-child+p {
    color: rgb(15, 20, 25);
}

.posts article p:first-child+p+p {
    color: rgb(83, 100, 113);
}

.posts article p {
    color: rgb(15, 20, 25);
    margin-bottom: 10px;
}
